<mat-toolbar color="primary">
  <span>Prueba técnica - Gestión de usuarios ANGULAR + .NET</span>
  
  <span class="spacer"></span>
  
  <nav style="border: 1px solid #ccc; padding: 10px; margin-left: 20px;">
    <a mat-button routerLink="/users" routerLinkActive="active-link">
      Usuarios
    </a>
    
    <a mat-button routerLink="/variables" routerLinkActive="active-link">
      Variables
    </a>
    
    <a mat-button routerLink="/roles" routerLinkActive="active-link">
      Roles
    </a>
  </nav>
</mat-toolbar>

<div style="padding: 16px;">
  <router-outlet></router-outlet>
</div>